<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/account/forget.password.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont icon-back right-back"></i>
            <div class="app-head-text">忘记密码</div>
        </div>
        <div id="app-content">
            <div v-if="isShow" class="valid">
                <div class="input_group">
                    <i class="iconfont icon-shouji"></i>
                    <input type="tel" v-model="phone" class="input_control" placeholder="输入手机号" maxlength="11" />
                </div>
                <div class="input_group">
                    <input type="tel" v-model="form.code" class="input_control w-8" placeholder="输入验证码" maxlength="6" />
                    <button class="input_code" v-bind:class="{'dis':isDisblay}" @click="!isDisblay && getCode()" v-text="isDisblay ? time + '秒后重新获取' : '获取验证码'"></button>
                </div>
                <p class="info">请注意接收短信验证码</p>
                <button class="confirm_button" @click="nextCheck">下一步</button>
            </div>
            <div v-else v-cloak class="valid">
                <div class="input_group">
                    <i class="iconfont icon-mima"></i>
                    <input type="password" maxlength="16" v-model="form.pass" class="input_control" placeholder="输入新密码" />
                </div>
                <div class="input_group">
                    <i class="iconfont icon-mima"></i>
                    <input type="password" maxlength="16" v-model="ps" class="input_control" placeholder="确认新密码" />
                </div>
                <button class="confirm_button" @click="dosubmitCheck">保存</button>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/account/forget.password.js"></script>
</body>
</html>