.valid {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.input_group {
    background-color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    display: flex;
}

    .input_group .iconfont {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }

    .input_group .input_control {
        font-size: .9em;
        width: calc(100% - 40px);
        padding: 5px;
        height: 30px;
        line-height: 30px;
    }

        .input_group .input_control.w-8 {
            width: calc(100% - 120px);
            padding: 5px 15px;
        }

    .input_group .input_code {
        background-color: #7563eb;
        padding: 0 10px;
        border-radius: 4px;
        float: right;
        color: white;
        height: 30px;
        line-height: 30px;
        font-size: .8em;
        margin-top: 5px;
        margin-right: 5px;
        width: 120px;
    }

        .input_group .input_code.dis {
            background-color: #DDDDDD;
            font-size: .7em;
        }

.info {
    color: #969696;
    font-size: 0.8em;
}

.confirm_button {
    width: 100%;
    margin-top: 20px;
}
