html, body {
    background-color: white;
}

.image {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 20%;
}

.txt {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    font-size: 1.4em;
}

.des {
    width: 70%;
    margin: 15px auto;
    display: block;
    text-align: center;
    font-size: .8em;
    color: #949494;
}

.confirm_button {
    width: 70%;
    font-size:1em;
}
