<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="../../../content/css/base.css" rel="stylesheet" />
    <link href="../../../content/css/vant.css" rel="stylesheet" />
    <link href="../../../content/css/pages/center/subPages/gesture.lock.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont icon-back right-back"></i>
            <div class="app-head-text">手势锁</div>
        </div>
        <div id="app-content" v-bind:style="{'top': (45 + statusbarHeight) + 'px'}">
            <div class="text-container">
                <p class="title">请绘制您的解锁图案</p>
                <p class="state" v-html="stateItems[currentState]" v-bind:class="{'red_text': currentState === 1 || currentState === 3}"></p>
            </div>
            <div id="buffer"></div>
            <van-dialog v-model="isPhoneCodeShow"
                        show-cancel-button
                        v-bind:before-close="beforeClose">
                <p class="caption">短信验证码</p>
                <p class="msg">系统已向您当前的手机号码发送了一条短信</p>
                <van-field v-model="form.phoneCode"
                           id="pc"
                           type="tel"
                           label="验证码"
                           maxlength="6"
                           placeholder="请输入6位短信验证码">
                </van-field>
            </van-dialog>
        </div>
    </div>
    <script src="../../../content/js/vue.js"></script>
    <script src="../../../content/js/vant.min.js"></script>
    <script src="../../../content/js/base.js"></script>
    <script src="../../../content/js/h5lock.js"></script>
    <script src="../../../content/js/pages/center/subPages/gesture.lock.js"></script>
</body>
</html>