<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <title></title>
    <link href="../../../content/css/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.0/lib/index.css">
    <link href="../../../content/css/pages/center/subPages/my.address.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont icon-back right-back"></i>
            <div class="app-head-text">收货地址</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (55 + statusbarHeight) + 'px'}">
            <div v-if="isLoading" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text">正在加载...</p>
            </div>
            <div v-else v-cloak>
                <div v-if="list.length === 0">
                    <p class="text-center msg">您还没有任何收货地址</p>
                    <button class="btn" @click="onAdd">立即添加</button>
                </div>
                <van-address-list v-else
                                  v-model="chosenAddressId"
                                  v-bind:class="{'none': APP.GLOBAL.queryString('isSwitch'), 'safe-area': APP.CONFIG.IsSafeArea()}"
                                  v-bind:list="list"
                                  @add="onAdd"
                                  @edit="onEdit"
                                  @select="onSelect"
                                  add-button-text="新增收货地址" />
            </div>
        </div>
    </div>
    <script src="../../../content/js/vue.js"></script>
    <script src="../../../content/js/base.js"></script>
    <script src="../../../content/js/vant.min.js"></script>
    <script src="../../../content/js/pages/center/subPages/my.address.js"></script>
</body>
</html>
