<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="../../../content/css/base.css" rel="stylesheet" />
    <link href="../../../content/css/vant.css" rel="stylesheet" />
    <link href="../../../content/css/pages/center/dataAment/name.ament.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont icon-back right-back"></i>
            <div class="app-head-text">新密码</div>
        </div>
        <div id="app-content">
            <van-cell-group class="mt-10">
                <van-field type="password" v-model="form.pass" placeholder="请输入新的密码" maxlength="16"></van-field>
                <van-field type="password" v-model="value" placeholder="请确认输入新的密码" maxlength="16"></van-field>
                <van-field v-model="form.code" center placeholder="请输入短信验证码" maxlength="6" typeof="tel">
                    <van-button @click="getCode" slot="button" size="small" type="primary">发送验证码</van-button>
                </van-field>
            </van-cell-group>
            <div class="confirm_button" @click="doSubmitAjax">保存</div>
        </div>
    </div>
    <script src="../../../content/js/vue.js"></script>
    <script src="../../../content/js/vant.min.js"></script>
    <script src="../../../content/js/base.js"></script>
    <script src="../../../content/js/pages/center/dateAmend/new.password.js"></script>
</body>
</html>