<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/center/article.list.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont icon-back right-back"></i>
            <div class="app-head-text">推广软文</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div v-if="isLoading" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text">正在加载...</p>
            </div>
            <div class="mt-10" v-else v-cloak>
                <div class="list-container">
                    <ul>
                        <li v-for="(item,index) in pageModel.list"
                            v-bind:key="index"
                            @click="gotoDetail(item)">
                            <p class="title" v-text="item.Title"></p>
                            <p class="desc" v-text="item.Summary"></p>
                            <div class="bottom clearfix">
                                <span class="time" v-text="item.CreateTime"></span>
                                <span class="detail">查看详情<i class="iconfont icon-more"></i></span>
                            </div>
                        </li>
                    </ul>
                    <div v-if="pageModel.isLoadMore" class="load_more clearfix">
                        <van-loading color="black"></van-loading>
                        <span class="load_text">正在加载...</span>
                    </div>
                    <div v-if="pageModel.isLoadComplete" class="load_more_complete">
                        <span class="load_text">没有更多的数据了...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/center/article.list.js"></script>
</body>
</html>