<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/center/my.fans.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont icon-back right-back"></i>
            <div class="app-head-text">我的粉丝</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div v-if="isLoading" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text">正在加载...</p>
            </div>
            <div v-else class="mt-10" v-cloak>
                <div v-if="pageModel.list.length === 0" class="none-data p50">
                    <i class="iconfont icon-wushuju"></i>
                    <p class="none-data-text">暂无粉丝信息</p>
                </div>
                <div v-else class="members">
                    <ul>
                        <li class="clearfix"
                            v-for="(member, mIndex) in pageModel.list"
                            v-bind:key="mIndex">
                            <img v-lazy="member.WxAvatar" class="avarat" />
                            <div class="member_right">
                                <p class="nn" v-text="member.WxNickName"></p>
                                <div class="bottom clearfix">
                                    <span class="time" v-text="'关注时间：' + member.CreateTime"></span>
                                    <span class="exp" v-text="'截至日期：' + member.ExpireDate"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div v-if="pageModel.isLoadMore" class="load_more clearfix">
                        <van-loading color="black"></van-loading>
                        <span class="load_text">正在加载...</span>
                    </div>
                    <div v-if="pageModel.isLoadComplete" class="load_more_complete">
                        <span class="load_text">没有更多的数据了...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/center/my.fans.js"></script>
</body>
</html>